*{
    padding: 0;
    margin: 0;
}
body{
    background: color #f6f6f6;
}
.container{
   
    height: 92vh;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 20px ;
    margin: 25px auto;
}
.box{

  border-radius: 6px;
}
.box1{
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: #f9eee2;
}
.box1 h2 {
    margin: 45px 19px 0px;
    width: 123px;
}
.box1 img{
    width: 160px;
    margin: 19px;

}
.box2{
    background-color: #7651DD;
    grid-column: 2/4;
    grid-row:1/3 ;
    text-align: center;
}

.box2 h1{
    font-size: 35px;
    width: 264px;
    margin: 30px auto 10px;
    color: white;
}
.box2 img{
    justify-content: center;
    width: 110px;
}
.box2 p{
    font-size: 13px;
    font-weight: 400;
    color:white;
}
.box3{
    grid-column:4/5;
    grid-row: 1/5;
    background-color:#DED3FD;

}
.box3 h2 {
    font-size: 22px;
    margin: 20px 19px 0px;
    width: 142px;
}
.img3{
     overflow: hidden;
     height: 242px;
    width: 213px; 
   
}
.img3 img{
    width: 110%;
    margin: 15px 0px 15px 53px;
}
.btm{
    width: 143px;
    margin:-7px 0px 0px 19px;
    font-weight: 500;
    font-size: 14px;
}

.box4{
    grid-column: 2/3;
    grid-row: 3/5;
    background-color: #ebebeb;
    overflow: hidden;
}
.box4 img{
    
    width: 240px;
}
.box5{
    grid-column: 3/4;
    grid-row: 3/5;
     background-color:#FFCD6A;
}
 .box6{
    grid-column: 1/2;
    grid-row: 4/7;
         background-color:#FFCD6A;
}
.box7{
    grid-column: 2/3;
    grid-row: 5/7;
    background-color: #ebebeb;
}

.box8{
        background-color: #7651DD;
    grid-column: 3/5;
    grid-row: 5/7;
}
.btm4{
    margin-left: 19px;
    font-size: 22px;
    width: 159px;
}